ipykernel==7.3.0
pydantic-ai==1.21.0
python-dotenv>=1.2.2
langchain-groq==0.3.8 
guardrails-ai>=0.6.7
requests-cache==1.3.2
retry-requests==2.0.0
pandas==3.0.3
numpy==1.26.4
openmeteo-requests==1.7.5
deepeval==4.0.7