printdirtree
ipykernel>=7.3.0
python-dotenv>=1.2.2
langchain==0.3.20
langchain_groq==0.3.8
langchain_community==0.3.19
chromadb==1.5.9
langchain-chroma>=0.1.4
sentence-transformers==5.1.2
langchain-pymupdf4llm
langchain-cohere==0.4.5
pydantic_ai>=2.3.0
guardrails-ai[api]

# guardrails hub install hub://guardrails/