langchain==0.3.20
langchain-core==0.3.75        
langchain-community==0.3.19
langchain-chroma==0.1.4
chromadb==0.5.9
sentence-transformers==5.1.2
transformers==4.41.2
scikit-learn==1.5.0
langchain-groq==0.3.8
langgraph==0.3.21
pydantic==2.8.2
python-dotenv==1.0.1
ipykernel==6.29.5

