python-dotenv>=1.2.2
ipykernel>=7.2.0
groq>=0.30.0,<1.0.0
langchain==0.3.27
langchain-core>=0.3.75,<1.0.0
langchain-groq==0.3.8
langchain-experimental==0.3.4
pandas>=2.2.2
kagglehub>=0.3.13
pytest>=8.0.0