GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_KEY=...

OUTPUT_PATH=outputs
SRC_PATH=src
DATA_PATH=data
COLLECTION_NAME=logistics-rule-collection
DB_PATH=./logistics_rule_db

data_file_name=logistics_knowledge_base.txt
alternate_route_file_name=route_options.json
warehouse_file_name=inventory_status.json