groq>=1.2.0
ipykernel>=7.3.0
python-dotenv>=1.2.2
tiktoken==0.9.0
pypdf==5.4.0
langchain==0.3.20
langchain-community==0.3.19
langchain-chroma==0.2.2
sentence-transformers==5.1.2
chromadb==0.6.3
langchain-cohere==0.4.5
langchain-groq==0.3.8
langgraph==0.3.21
pillow>=12.2.0
mermaid-python==0.1
