GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_KEY=...

OUTPUT_PATH=outputs
SRC_PATH=src
DATA_PATH=data
SERVER_PATH=servers
COLLECTION_NAME=logistics-rtickets.dbule-collection

tickets=tickets.db
changes=changes.json
sample_queries=sample_queries.json
service_health=service_health.json

