

__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/


.env


.ipynb_checkpoints/


.vscode/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/

*.log


tesla_db/
tesla-annual-reports/

uv.lock
main.py
*.tmp
*.temp
.python-version