# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled Python files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# ChromaDB / Vector Database
# =========================
tesla_db/
main.py
# =========================
# pdf files
# =========================
tesla-annual-reports/

# Optional: Ignore all ChromaDB files
chroma/
chroma_db/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

