# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
outputs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/