GROQ_API_KEY = #################
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_MODEL=openai/gpt-oss-120b
JIRA_BASE_URL= "https://ashishsinhaagileventures.atlassian.net"
JIRA_EMAIL= "ashish.sinha.agileventures@gmail.com"
JIRA_API_TOKEN= ############